hr{
    height: 0.1rem;
    border-bottom: 0.1rem solid rgba(50, 50, 93, 0.25);
}
.nav-page-user{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 350px;
    margin: 4rem 8rem 0 4rem;
}
.nav-page-user p{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
}
.nav-page-user h2{
    font-size: 2rem;
}
.nav-page-user h3{
    font-size: 1.5rem;
}
.box-data-user{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0rem 5rem;
}

#text_conta{
    color: var(--blue-color);
   
}
#text_conta .icon_conta{
    stroke: var(--blue-color);
    fill: var(--blue-color);
} 

.box-name-user{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.opcao-data{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.icone-sair{
    margin: 0rem 5rem;
}
