.BeneficiarioMain{
    width: 100%;
    max-width: var(--Max-window-width);
    height: auto;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
.BeneficiarioMain .Cabecalho{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
.Cabecalho .BoxImg{
    width: 60rem;
    height: 60rem;
}
.Cabecalho .BoxImg img{
    width: 100%;
    height: 100%;
}
.BeneficiarioMain .BoxTextCabecalho{
    display: flex;
    flex-direction: column;
    width: 52rem;

    gap: 4rem;
    font-weight: var(--SemiBold);
}
.BoxTextCabecalho h1{
    font-family: var(--montserrat-alternates-font);
    font-size: 4rem;
}
.BoxP{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.BoxTextCabecalho p{
    font-family: var(--poppins-font);
    font-size: 2rem;
}
.BoxTextCabecalho .BtnAgendarConsulta{
    width: 24rem;
    padding: 2rem 1rem;

    background-color: var(--cor-laranja-leve);
    color: var(--cor-preta);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border: 3px solid rgba(182, 111, 216, 0.5);
    border-radius: 2rem;

    font-weight: var(--Bold);
    font-family: var(--poppins-font);
}
.Beneficios{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
.Beneficios h2{
    font-size: 4rem;
    text-align: center;
    font-weight: var(--SemiBold);
    font-family: var(--montserrat-alternates-font);

    width: 60rem;
}
.Beneficios .ContainerBeneficios{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.ContainerBeneficios .ListBeneficios{
    width: 53rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.ListBeneficios li{
    display: flex;
    align-items: center;
    gap: 5rem;

    font-size: 1.4rem;
    font-family: var(--poppins-font);
    font-weight: var(--Bold);
}
.FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.FAQ .BoxTitleFaq{ 
    align-self: flex-start;
}
.BoxTitleFaq h2{
    font-family: var(--montserrat-alternates-font);
    font-size: 4rem;
    margin-bottom: 1rem;

    width: 60rem;
}
.BoxTitleFaq p{
    font-size: 1.6rem;
    font-family: var(--montserrat-alternates-font);
    font-weight: var(--SemiBold);

    width: 43rem;
}
.BeneficiarioMain .Gratuidade{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
.Gratuidade .BtnAgendarConsulta{
    width: 30rem;
}